/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  background-image: var(--backgroung);
  background-size: cover;

  font-family: var(--inter);
  font-variation-settings: "wght" var(--main-text-weith);
  color: var(--accent-color);

  /* работает корректно в соответствии со спекой https://developer.mozilla.org/en-US/docs/Web/CSS/Nesting_selector */
  & > * {
    max-width: min(100%, 700px);
    margin-left: auto;
    margin-right: auto;
  }
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 102px;
  padding-top: 136px;
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
}

.header__title-tag {
  font-variation-settings: "wght" var(--h-weight);
  font-family: var(--press-start-p2);
  font-size: clamp(49px, 14vw, 65px);
  font-style: normal;
  font-weight: var(--main-text-weith);
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
}

.header__title-text {
  padding-top: 20px;
  font-family: var(--press-start-p2);
  font-size: clamp(14px, 4vw, 23px);
  font-style: normal;
  font-weight: var(--main-text-weith);
  line-height: normal;
  text-transform: uppercase;
}

.header__theme-menu {
  padding-top: 25px;
  padding-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  align-items: center;
}

.theme-menu__button {
  border: none;
  position: relative;
  text-transform: uppercase;
  background-color: transparent;

  font-family: var(--press-start-p2);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--main-text-weith);
  line-height: normal;

  transition: transform 0.3s ease;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow 0.5s infinite alternate ease-in-out;
}

.theme-menu__button::after {
  content: "";
  position: absolute;

  min-width: 100%;
  min-height: 2px;
  left: 0;
  bottom: -2px;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;

  background-color: var(--accent-color);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus-visible,
.card__icon-button:focus-visible {
  outline: none;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 54px;
  margin: 105px auto;
}

.article {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--main-color);
}

.article__header {
  max-width: 662px;
  min-height: 25px;
  padding: 2px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: var(--accent-color, #000);
  font-family: var(--inter);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--h-weight);
  font-variation-settings: "wght" var(--h-weight);
  line-height: normal;
}

.article-image-container {
  position: relative;
  border-top: 2px solid var(--accent-color, #000);
  border-bottom: 2px solid var(--accent-color, #000);
}

.article-image-container > img {
  width: 100%;
}

.article__description {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.article__description-text {
  font-family: var(--inter);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--main-text-weith);
  line-height: 21px; /* 116.667% */
}

.article-label {
  position: absolute;
  top: 23px;
  right: 11px;
  font-family: var(--press-start-p2);
  font-size: 14px;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  color: var(--accent-color);
  text-shadow: var(--text-shadow);
  opacity: 0.5;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .article-label {
    -webkit-text-stroke: 1px var(--main-color, #fff);
    text-stroke: 1px var(--main-color, #fff);
    text-shadow: none;
  }
}

/* Filters */

.article:nth-child(1) .filter {
  filter: brightness(80%) invert(0.2);
}

.article:nth-child(2) .filter {
  filter: grayscale(90%);
}

.article:nth-child(3) .filter {
  filter: hue-rotate(20deg);
}

.article:nth-child(4) .filter {
  filter: invert(75%);
}

.article:nth-child(5) .filter {
  filter: drop-shadow(16px 16px 20px aqua);
}

.article:nth-child(6) .filter {
  filter: saturate(30%);
}

.article:nth-child(7) .filter {
  filter: brightness(80%);
}

/* для соответствия макету */

.article__description-text:first-child {
  padding-bottom: 2px;
}

/**/

.saveSvg {
  width: 21px;
  height: 21px;
}

.card__save-button {
  min-width: 335px;
  min-height: 51px;
  background-color: var(--main-color);
  border: 2px solid var(--accent-color, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;

  font-family: var(--press-start-p2);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--main-text-weith);
  line-height: 90%; /* 12.6px */
}

.card__save-button:focus {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

/* Like */

.like-wrapper {
  display: flex;
  justify-content: end;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: box-shadow 0.3s ease;
  background-color: transparent;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}

/* Animation */

.animate {
  border: 2px solid var(--accent-color, #000);
  padding: 9px 17px;
  position: relative;
  background-color: var(--main-color);

  display: flex;
  min-width: 130px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  font-family: var(--press-start-p2);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--main-text-weith);
  line-height: 90%; /* 12.6px */
}

.animate > span {
  position: relative;
  z-index: 2;
  color: var(--accent-color);
}

.animate::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.animate:focus-visible {
  outline: none;
}

.animate:hover::after {
  transform: scaleX(1);
}

.card__like-button {
  background-color: transparent;
  min-height: 38px;
}

.card__icon-button:hover,
.card__like-button:hover {
  cursor: pointer;
}

.card__like-button:focus {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

/* Dialog */

.dialog {
  display: none;

  max-width: 357px;
  padding: 32px;

  flex-direction: column;
  border-color: var(--accent-color, #000);
  background-color: var(--main-color, #fff);
  color: var(--accent-color, #000);

  font-family: var(--press-start-p2);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--main-text-weith);
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.dialog[open] {
  display: flex;
}

.dialog-content {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.floppy-svg {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.form_dialog {
  display: flex;
  min-width: 100%;
}

.dialog_button {
  margin-top: 30px;
  border: 2px solid var(--accent-color, #000);
  transition: box-shadow 0.3s ease;
  background-color: transparent;
  display: flex;
  justify-content: center;
  min-width: 100%;
  padding: 9px 17px;
  text-transform: uppercase;
}

.dialog_button:hover {
  cursor: pointer;
}

.dialog_button:focus {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

/* 375px */

@media (width <= 700px) {
  .header__title-tag {
    font-size: 49px;
  }

  .header__title-text {
    font-size: 14px;
  }

  .article-image-container > img {
    width: 100%;
  }

  .card__save-button {
    flex-direction: column;
    row-gap: 8px;
  }

  .card__save-button > svg {
    width: 28px;
    height: 28px;
  }

  .dialog {
    max-width: 341px;
  }
}
